html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(#1c2333, #1e2a38);
}

#password-field {
  background-color: #435170;
  border: none;
  border-radius: 7px;
  margin-right: 10px;
  /*width: 215px;
  height: 1.5em;*/
  width: 215px;
  height: 1.7em;
  color: #FFF;
}

#password-field:focus {
  outline: none;
}

#submit-button {
  background-color: #435170;
  border: 1.4px solid;
  border-color: #444;
  border-radius: 7px;
  height: 1.8em;
  color: #FFF;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.25s;
}

::placeholder {
  color: #AAA;
}

#submit-button:hover {
  background-color: #5f6f94;
  opacity: 1;
}

#submit-button:active {
  background-color: #769cde;
  opacity: 1;
}

h1 {
  font-size: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}
.container {
  display: flex;
  justify-content: center;
}
.child {
  padding: 8px;
  margin: auto;
}

.modal {
  background-color: #232d4271;
  width: 450px;
  margin: auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#hash-display {
  resize: none;
  margin: 2px;
  width: 23em;
  height: 1.5em;
  border: none;
  background-color:#435170;
  color: #FFF;
  outline: none;
  border-radius: 7px;
  margin-right: 10px;
}

